:root {
  --main-bg-color: #224951;
  --main-text-color: #224951;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#w {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to right,#5de0e6, #004aad);
}

#sw {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sw .hs {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sw .list-group {
  width: 15rem;
}
.list-group a{
  margin-bottom: 10px;
}
.list-group a:hover {
  color: #007bff; /* Change text color */
  font-weight: bold; /* Make the text bold */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a shadow to the text */
  transition: all 0.3s ease-in-out; /* Smooth transition for all effects */
}


#page-content-wrapper {
  margin-left: 250px; /* Same as the sidebar width */
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  background-image: linear-gradient(to right,#5de0e6, #004aad);
  min-height: 100vh; /* Set minimum height to cover the viewport */

}

#w.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
  font-weight: bold;
}

.list-group-item.ac {
  color: rgba(128, 128, 128, 0.5); /* 50% transparent gray */
 
}

@media (min-width: 768px) {
  #sw {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #w.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
@media (max-width: 767px) {
  #sw {
      margin-left: -15rem;
  }

  #w.toggled #sw {
      margin-left: 0;
  }

  #page-content-wrapper {
      margin-left: 0;
  }
}

.small-image {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 50%;
}

.inline-text {
  display: inline-block;
  margin-left: 10px; /* Optional: adds some space between the image and the text */
}

.mb-4 {
  margin-bottom: 0.5rem; /* Adjust spacing between rows as needed */
}

.col-md-6 {
  margin-bottom: 0.5rem; /* Adjust spacing between rows as needed */
}

.dashboard-link {
  text-decoration: none;
  color: inherit; /* To inherit the text color from its parent */
}

.dashboard-link:hover {
  text-decoration: none; /* Add underline on hover */
  color: inherit; /* To maintain text color on hover */
  color: #2c6975;
}


.table{
  margin-top: 10px;
}



.row2 {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
}
.doc-container{
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.search-container input[type="text"] {
  padding-left: 35px; /* Space for icon */
  border-radius: 8px;
  width: 520px;
  font-weight: bolder;
}
.search-container .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555; /* Icon color */
}

.search-container {
  margin-top: 10px;
  position: relative;
  display: inline-block; /* Ensure both elements are in line */
  vertical-align: top; 
  /* Align elements vertically */
}
.custom-select1 {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.custom-select1 select {
  font-weight: bolder;
  color: #555;
  width: 100%;
  padding-right: 10px; /* Space for the arrow icon */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color:  white;  
  border: 1px solid #ced4da;
  border-radius: 8px;
}
.icon-button1 {
  float: left;
  margin-right:10px; /* Optional: add some space to the right */
  margin-top: 10px;
}
@media (max-width: 768px) {
  .search-container,
  .custom-select1 {
    width: 100%; /* Full width on small screens */
  }

  .search-container input[type="text"],
  .custom-select1 select {
    width: 100%; /* Full width on small screens */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .icon-button1 {
    float: none;
    margin: 10px 0; /* Adjust spacing for small screens */
    width: 100%; /* Full width button on small screens */
  }
}
@media (max-width: 576px) {
  .btn-responsive {
      font-size: 12px; /* Adjust font size for small screens */
  }
}
